<% @coin_values.each do |name, dallar_value| %>
    <h2 class="text-center">
        <%= link_to name, controller: "currencies", action: "show", id: name %>: 
        <%= dallar_value %> USD
        <%= image_tag(Coin.get_img_url(name), size: "16x16", alt: "Currency Logo") %>
    </h2>
<% end %>
<div class="chart center">
    <canvas id="myChart"></canvas>
</div>

<script type="text/javascript">
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= raw @dates %>,
        datasets: [{
            label: "Bitcoin to USD",
            fill: false,
            borderColor: 'rgb(54, 162, 235)',
            backgroundColor: 'rgb(54, 162, 235)',
            data: <%= @dollar_array %>,
        }]
    },
    options: {}
});
</script>
