<h1 class="text-center">
    <%= @coin_name %>: <%= @coin_value %> USD
    <%= image_tag(Coin.get_img_url(@coin_name), size: "25x25", alt: "Currency Logo") %>
</h1>
<div class="chart center">
    <canvas id="myChart"></canvas>
</div>
<button class="button blue center" onclick="window.history.back();">Go Back</button>

<script type="text/javascript">
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: <%= raw @dates %>,
        datasets: [{
            label: "<%= @coin_name %> to USD",
            fill: false,
            borderColor: 'rgb(54, 162, 235)',
            backgroundColor: 'rgb(54, 162, 235)',
            data: <%= @dollar_array %>,
        }]
    },
    options: {}
});
</script>
